<div class="form">
    <form (ngSubmit)="onLogin()" class="login-form">
      <input type="text" [(ngModel)]="loginObj.email" placeholder="Username" name="email" required />
      <input type="password" [(ngModel)]="loginObj.password" placeholder="Password" name="password" required />
      <button type="submit">Login</button>
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
      <p class="message">Not registered? <a (click)="redirectToRegister()">Create an account</a></p>
    </form>
  </div>
  